In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import re
import pandas as pd
import matplotlib.pyplot as plt
from cobra.io import load_yaml_model
import attila_utils

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
gempath = '../../resources/human-GEM/v1.11.0/model/Human-GEM.yml'
gem = load_yaml_model(gempath)

Map HMDB IDs to Human-GEM metabolite IDs (replacement IDs)

In [3]:
gempath_xlsx = '../../resources/human-GEM/from-Busra/model/Human-GEM.xlsx'
gem_mets = pd.read_excel(gempath_xlsx, "METS")
s = gem_mets.MIRIAM.apply(lambda ids: re.sub('^.*hmdb/(HMDB[0-9]*).*$', '\\1', ids))
gem_mets['HMDB'] = s.apply(lambda s: None if not re.match('^HMDB', s) else s)
gem_mets = gem_mets.dropna(subset='HMDB')
hmdb2rid = gem_mets.groupby('HMDB').apply(lambda x: x['REPLACEMENT ID'].to_list())
hmdb2rid

HMDB
HMDB0000036               [MAM02963c, MAM02963x, MAM02963e]
HMDB00002                            [MAM00248c, MAM00248e]
HMDB00005                 [MAM00671c, MAM00671m, MAM00671e]
HMDB00008                            [MAM00648c, MAM00648e]
HMDB0000975                          [MAM03039e, MAM03039c]
                                   ...
HMDB13037                            [MAM02694c, MAM02694m]
HMDB13109                 [MAM03050c, MAM03050m, MAM03050r]
HMDB13114                            [MAM03116c, MAM03116m]
HMDB13123      [MAM00094c, MAM00094l, MAM00094r, MAM00094e]
HMDB60478                                       [MAM01926e]
Length: 713, dtype: object

In [4]:
def get_rxn_ids(rid, gem=gem):
    met = gem.metabolites.get_by_id(rid)
    rxn_ids = [r.id for r in met.reactions]
    return(rxn_ids)

In [5]:
fpath = '../../results/2023-02-06-AD-subtypes-active-reactions/fisher-exact-r-AD-A_wrt_r-control.csv'
imat_A = pd.read_csv(fpath, index_col='rxn_ID')
imat_A.loc[get_rxn_ids('MAM02963c')]

          oddsratio   p_value
rxn_ID
MAR01855   0.000000  1.000000
MAR01889   0.431373  0.156699
MAR01732   1.447619  0.563550
MAR01877   0.598726  0.633233
MAR09906        NaN  1.000000
MAR01731   0.249462  0.020234
MAR12286   0.000000  0.293006
MAR01865   0.000000  1.000000
MAR01878   0.265217  0.000021
MAR01668   1.700000  0.376138
MAR01870        NaN  1.000000
MAR01891   0.000000  0.000334
MAR01890   0.746753  0.732406

In [6]:
%connect_info

{
  "shell_port": 58784,
  "iopub_port": 58785,
  "stdin_port": 58786,
  "control_port": 58788,
  "hb_port": 58787,
  "ip": "127.0.0.1",
  "key": "cca4a2dd-1342c4edc2fdee24b0c9877d",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": "python3"
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-e1d387b8-1875-4b5f-af9b-48ec736de193.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.