In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import arviz as az
import pymc as pm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cellbayesassay as cba
import os.path
import re
import warnings
import attila_utils

In [30]:
data_fpath = '../../resources/cell-based-assays/data-format-specification_NIA_all-CO28151_CO28153-cleaned.xlsx'
TI_fpath = '../../resources/cell-based-assays/test-items2.csv'
controls_fpath = '../../resources/cell-based-assays/experiment-controls2.csv'
data = cba.get_data(data_fpath, 'Sheet1', TI_fpath, controls_fpath)
for from_ti, to_ti in zip(['TI17', 'TI19'], ['TI16', 'TI18']):
    data.loc[data.TI == from_ti, 'TI'] = to_ti
data

,Study,Experiment,Assay,Batch,Plate,TI,Name,conc,concentration,conc_log10,Activity
0,CO28153,LPS neuroinflammation (BV2 cells),IFN-γ,3,1,LPS,,NaN,1.000000e-09,-9.0,0.043041
1,CO28153,LPS neuroinflammation (BV2 cells),IFN-γ,3,1,LPS,,NaN,1.000000e-09,-9.0,0.159173
2,CO28153,LPS neuroinflammation (BV2 cells),IFN-γ,3,1,LPS,,NaN,1.000000e-09,-9.0,0.029069
3,CO28153,LPS neuroinflammation (BV2 cells),IFN-γ,3,1,LPS,,NaN,1.000000e-09,-9.0,0.134404
4,CO28153,LPS neuroinflammation (BV2 cells),IFN-γ,3,1,LPS,,NaN,1.000000e-09,-9.0,0.106824
...,...,...,...,...,...,...,...,...,...,...,...
9253,CO28153,Aβ release (H4 cells),Aβ38,2,3,RI,,NaN,NaN,NaN,735.062800
9254,CO28153,Aβ release (H4 cells),Aβ38,2,3,RI,,NaN,NaN,NaN,641.874500
9255,CO28153,Aβ release (H4 cells),Aβ38,2,3,RI,,NaN,NaN,NaN,660.818400
9256,CO28153,Aβ release (H4 cells),Aβ38,2,3,RI,,NaN,NaN,NaN,696.078900
9257,CO28153,Aβ release (H4 cells),Aβ38,2,3,RI,,NaN,NaN,NaN,579.112900

In [21]:
def replace_TI(from_TI='TI17', to_TI='TI16', data=data):
    dat = data.copy()
    study = 'CO28153'
    from_df, to_df = [dat.loc[(dat.Study == study) & (dat.TI == ti)].copy() for ti in [from_TI, to_TI]]
    from_df['TI'] = to_TI
    return((from_df, to_df))

In [2]:
%connect_info

{
  "shell_port": 53912,
  "iopub_port": 53913,
  "stdin_port": 53914,
  "control_port": 53916,
  "hb_port": 53915,
  "ip": "127.0.0.1",
  "key": "2714cdfd-0dac8b40c2d019cc95051d07",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": "python3",
  "jupyter_session": "/Users/jonesa7/CTNS/notebooks/2024-05-09-cell-bayes/Untitled.ipynb"
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-6df587aa-c7fb-4781-9e35-45f6a3cd8dd6.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.