In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import attila_utils

## Summary statistics

In [2]:
fpath = '../../resources/cell-based-assays/CO28151_outcome summary.xlsx'
sheet_name = 'CO28151'
CO28151 = pd.read_excel(fpath, sheet_name=sheet_name)

fpath = '../../resources/cell-based-assays/CO28151_outcome-summary_27062023-clean.xlsx'
sheet_name = 'CO28151'
CO28151_27062023 = pd.read_excel(fpath, sheet_name=sheet_name)

sheet_name = 'CO25360'
CO25360_27062023 = pd.read_excel(fpath, sheet_name=sheet_name)

### Assays

Assays in CO28151 before 2023 June 27

In [3]:
print(len(CO28151.assay.unique()), 'assays')
list(CO28151.assay.unique())

11 assays

['Abeta celarance supernatant',
 'Abeta celarance intracellular',
 'growth factor removal MTT',
 'growth factor removal LDH',
 'Abeta secretion 1-42',
 'Abeta secretion 1-40',
 'LPS inflammation TNFa',
 'LPS inflammation IL1b',
 'LPS inflammation IL6',
 'LPS inflammation KC/GRO',
 'LPS inflammation MTT']

Assays in CO28151 after 2023 June 27

In [4]:
print(len(CO28151_27062023.assay.unique()), 'assays')
list(CO28151_27062023.assay.unique())

14 assays

['Abeta celarance intracellular',
 'Abeta celarance supernatant',
 'Abeta secretion 1-40',
 'Abeta secretion 1-42',
 'growth factor removal LDH',
 'growth factor removal MTT',
 'LPS inflammation IL1b',
 'LPS inflammation IL6',
 'LPS inflammation KC/GRO',
 'LPS inflammation MTT',
 'LPS inflammation TNFa',
 'pTau 231',
 'pTau 231 vs total Tau',
 'Total Tau']

Assays in CO28151 added on 2023 June 27

In [5]:
set(CO28151_27062023.assay.unique()).difference(set(CO28151.assay.unique()))

{'Total Tau', 'pTau 231', 'pTau 231 vs total Tau'}

The same set of assays are contained in CO25360 as in CO28151

In [6]:
set(CO28151_27062023.assay.unique()) == set(CO25360_27062023.assay.unique())

True

### Treatments

Treatments in CO28151 before 2023 June 27

In [7]:
print(len(CO28151.TI.unique()), 'treatments')
treatments_CO28151 = pd.DataFrame(*[CO28151.groupby(['TI', 'name']).first().index.get_level_values(i) for i in [1, 0]])
treatments_CO28151

13 treatments

                                         name
TI
TI1                                Amiloride
TI11                            DIM-C-pPhOCH3
TI12                                  C-DIM12
TI13                              Liraglutide
TI14                              Semaglutide
TI2            Phenamil methanesulfonate salt
TI3            Benzamil hydrochloride hydrate
TI4   5-(N,N-Dimethyl)amiloride hydrochloride
TI5          5-(N-Ethyl-N-isopropyl)amiloride
TI6            5-(N,N-Hexamethylene)amiloride
TI7          5-(N-Methyl-N-isobutyl)amiloride
TI8                                   NS 383
TI9                                 A-317567

Treatments in CO28151 after on 2023 June 27

In [8]:
print(len(CO28151_27062023.TI.unique()), 'treatments')
treatments_CO28151_27062023 = pd.DataFrame(*[CO28151_27062023.groupby(['TI', 'name']).first().index.get_level_values(i) for i in [1, 0]])
treatments_CO28151_27062023

17 treatments

                                             name
TI
TI1                                    Amiloride
TI10                                   Cilostazol
TI11                                DIM-C-pPhOCH3
TI12                                      C-DIM12
TI13                                  Liraglutide
TI14                                  Semaglutide
TI15                   Hydroxychloroquine racemic
TI16/17  (S)Hydroxychloroquine racemic, free base
TI18/19  (R)Hydroxychloroquine racemic, free base
TI2                Phenamil methanesulfonate salt
TI3                Benzamil hydrochloride hydrate
TI4       5-(N,N-Dimethyl)amiloride hydrochloride
TI5              5-(N-Ethyl-N-isopropyl)amiloride
TI6                5-(N,N-Hexamethylene)amiloride
TI7              5-(N-Methyl-N-isobutyl)amiloride
TI8                                       NS 383
TI9                                     A-317567

Treatments in CO28151 added on 2023 June 27

In [9]:
treatments_CO28151_27062023.loc[list(set(treatments_CO28151_27062023.index).difference(set(treatments_CO28151.index)))]

                                             name
TI
TI18/19  (R)Hydroxychloroquine racemic, free base
TI10                                   Cilostazol
TI16/17  (S)Hydroxychloroquine racemic, free base
TI15                   Hydroxychloroquine racemic

Treatments in CO25360

In [10]:
print(len(CO25360_27062023.TI.unique()), 'treatments')
treatments_CO25360_27062023 = pd.DataFrame(*[CO25360_27062023.groupby(['TI', 'name']).first().index.get_level_values(i) for i in [1, 0]])
treatments_CO25360_27062023

27 treatments

                                   name
TI
TI1                       VALPROIC ACID
TI10                          DASATINIB
TI11                        FLUTICASONE
TI12                       METHOTREXATE
TI13                 HYDROXYCHLOROQUINE
TI14                        ROFLUMILAST
TI15                        NAPABUCASIN
TI16                         CRIZOTINIB
TI17                             C188-9
TI18                                NAP
TI19                           MTS-V-50
TI2                          SALBUTAMOL
TI20                         MTS-III-25
TI21  Tauroursodeoxycholic Acid (TUDCA)
TI22                     Cysteamine HCl
TI23                         Rifampicin
TI24                        Mebendazole
TI25                      Pyrimethamine
TI26              3,3'-Diindolylmethane
TI27                          HCQ/TUDCA
TI3                          SILDENAFIL
TI4                          PROBENECID
TI5                         MONTELUKAST
TI6                          FELODIPINE
TI7                       LEVETIRACETAM
TI8                          NIFEDIPINE
TI9                           ACITRETIN

In [11]:
# concatenate the two studies
data = pd.concat([CO28151_27062023, CO25360_27062023], axis=0)
data = data.groupby(['name', 'assay']).first()['Mean Diff,'].unstack()
data

assay,Abeta celarance intracellular,Abeta celarance supernatant,Abeta secretion 1-40,Abeta secretion 1-42,LPS inflammation IL1b,LPS inflammation IL6,LPS inflammation KC/GRO,LPS inflammation MTT,LPS inflammation TNFa,Total Tau,growth factor removal LDH,growth factor removal MTT,pTau 231,pTau 231 vs total Tau
name,,,,,,,,,,,,,,
"(R)Hydroxychloroquine racemic, free base",-1.52100,13263.00,NaN,NaN,0.26110,278.1,0.09900,-4.333,99.60,NaN,NaN,NaN,NaN,NaN
"(S)Hydroxychloroquine racemic, free base",0.55500,715.80,NaN,NaN,0.23420,-2188.0,-1.05700,-3.500,43.60,NaN,NaN,NaN,NaN,NaN
"3,3'-Diindolylmethane",-7719.00000,4470.00,2216.00,226.20,-0.63800,233.0,3.88000,-0.517,204.00,-23828.0,-1.430,17.600,4.5000,0.07500
"5-(N,N-Dimethyl)amiloride hydrochloride",-0.59670,11579.00,1254891.00,70028.00,0.39330,14321.0,6.19700,96.500,1318.00,NaN,-36.330,38.670,NaN,NaN
"5-(N,N-Hexamethylene)amiloride",-1.81800,6853.00,-21838.00,-38713.00,1.32200,19211.0,9.16800,61.670,1385.00,NaN,-41.670,61.170,NaN,NaN
5-(N-Ethyl-N-isopropyl)amiloride,-3.17700,12536.00,957888.00,60425.00,1.28100,14353.0,8.40100,97.500,1384.00,NaN,-43.830,59.500,NaN,NaN
5-(N-Methyl-N-isobutyl)amiloride,-0.58500,8891.00,965683.00,60805.00,1.13200,19356.0,9.99200,77.170,1647.00,NaN,-45.670,60.000,NaN,NaN
A-317567,-1.44000,68649.00,NaN,NaN,0.45010,8922.0,4.04300,97.330,1394.00,NaN,-50.170,54.330,NaN,NaN
ACITRETIN,0.14200,-32.10,-1662.00,-218.00,-0.17800,83.3,-3.54000,46.700,-1371.00,-80305.0,-4.930,19.900,1.6700,2.21000
Amiloride,0.08000,6078.00,273952.00,21077.00,0.45830,5200.0,-1.46200,-1.000,361.20,NaN,-1.833,10.000,NaN,NaN
Benzamil hydrochloride hydrate,-0.32000,7398.00,1535868.00,88810.00,1.58700,17662.0,9.85200,98.330,1715.00,NaN,-39.670,62.500,NaN,NaN
C-DIM12,-0.05333,906.80,-835016.00,-100879.00,0.47330,5145.0,1.91800,-2.500,246.00,NaN,-31.500,56.000,NaN,NaN
C188-9,-0.29500,-19.50,360.00,42.83,0.28000,1053.0,-1.02000,-10.600,-127.00,78859.0,-73.700,48.000,15.6000,0.07830
CRIZOTINIB,-0.09900,-24.30,8310.00,724.00,0.16500,-530.0,-0.07490,-13.300,-207.00,302619.0,-165.000,62.900,58.2000,0.95000
Cilostazol,0.15810,25963.00,NaN,NaN,0.18930,2499.0,-0.34730,3.667,-74.85,NaN,NaN,NaN,NaN,NaN
Cysteamine HCl,28389.00000,-8589.00,6842.00,371.80,-0.37300,-988.0,-1.21000,7.850,53.50,-134201.0,-0.867,16.600,-12.8300,0.03500
DASATINIB,-1.10000,7.28,2186.00,164.00,-1.60000,5694.0,-6.44000,14.300,1828.00,354854.0,-11.000,14.000,41.2000,-0.36300
DIM-C-pPhOCH3,0.12830,6273.00,-113103.00,-26184.00,0.52500,5676.0,0.07667,-8.333,171.70,NaN,-10.500,8.000,NaN,NaN
FELODIPINE,-0.30300,-12.50,7269.00,-136.00,1.75000,19090.0,5.84000,4.130,1166.00,35706.0,6.400,7.670,3.5000,-0.09500
FLUTICASONE,-0.58500,-23.30,-352.00,-79.00,0.86500,18532.0,-4.35000,-2.880,1079.00,41774.0,4.100,-8.430,8.8300,0.97000
HCQ/TUDCA,-9934.00000,13323.00,3435.00,149.20,0.63000,4826.0,-0.41500,-3.430,368.00,48700.0,-66.600,42.100,16.1700,0.08667
HYDROXYCHLOROQUINE,-0.58000,37.90,-277.00,-70.00,0.91000,9633.0,0.79200,3.770,938.00,138625.0,-102.000,34.200,13.9000,-0.50300
Hydroxychloroquine racemic,0.39520,14812.00,NaN,NaN,0.02344,2327.0,-0.40270,-1.333,322.60,NaN,NaN,NaN,NaN,NaN
LEVETIRACETAM,-0.14800,-24.30,-2698.00,-283.00,1.27000,-2903.0,1.67000,25.200,97.80,86893.0,1.300,4.080,8.1700,-0.45700
Liraglutide,-0.28830,-26889.00,-3592.00,41.67,0.80830,5464.0,0.83330,-3.000,115.00,NaN,-9.500,4.167,NaN,NaN
METHOTREXATE,-0.30500,-14.00,-1352.00,-192.00,-3.67000,18227.0,-5.23000,65.400,1466.00,-154741.0,-0.217,3.980,7.4300,2.62000
MONTELUKAST,-0.86500,-131.00,1309.00,508.00,1.25000,15154.0,6.33000,96.600,1115.00,-52673.0,-117.000,57.100,-9.8300,-0.96300
MTS-III-25,-41144.00000,7609.00,7415.00,611.30,-0.51200,4115.0,-0.39300,12.400,282.00,4446.0,-70.800,57.000,8.1670,0.15500
MTS-V-50,-1971.00000,3114.00,191.00,-44.93,-0.44500,-708.0,0.20800,9.270,32.50,-77038.0,-1.280,-1.400,-17.6700,-0.23670
Mebendazole,8766.00000,-8015.00,2407.00,287.70,-0.42200,4732.0,3.05000,28.600,425.00,29639.0,-11.000,22.800,11.5000,0.15830
NAP,1873.00000,314.00,640.00,-264.30,0.33700,-316.0,-1.09000,-6.080,-46.00,-22638.0,8.630,10.800,-6.3330,NaN
NAPABUCASIN,-1.20000,-200.00,9677.00,866.00,0.56000,3660.0,4.69000,66.300,397.00,359077.0,-83.400,63.800,61.8000,0.85500
NIFEDIPINE,-0.05330,-70.60,-2249.00,-387.00,0.24800,12052.0,2.94000,8.620,642.00,140671.0,-15.600,22.300,18.3000,0.61800
NS 383,-0.14240,29453.00,NaN,NaN,-0.09949,-6539.0,-2.04400,22.330,-447.70,NaN,-15.000,18.170,NaN,NaN
PROBENECID,-0.19000,12.50,-793.00,-50.30,0.55800,266.0,1.46000,16.300,325.00,-104803.0,-10.900,23.600,-12.2000,0.05830
Phenamil methanesulfonate salt,-1.79000,7889.00,951443.00,37655.00,-0.02500,14884.0,6.62000,94.670,1495.00,NaN,-37.670,45.170,NaN,NaN
Pyrimethamine,-7681.00000,-1712.00,71.17,-42.00,0.23700,-2604.0,4.37000,32.200,271.00,-133768.0,0.450,7.630,-14.3300,-0.05333
ROFLUMILAST,-1.43000,-13.30,-3217.00,-400.00,-1.43000,-34879.0,-1.95000,10.800,655.00,25264.0,5.400,7.820,7.0000,1.01000
Rifampicin,24628.00000,-4177.00,841.30,99.67,0.59200,4617.0,2.85000,30.200,179.00,-9079.0,-1.200,3.450,-5.0000,-0.06667
SALBUTAMOL,0.31800,11.70,-2285.00,-168.00,0.66200,9772.0,1.10000,-10.200,1006.00,39720.0,6.550,2.800,2.9000,-0.53000
SILDENAFIL,-0.11700,-31.00,-525.00,-96.00,0.76500,2274.0,-0.16300,1.980,199.00,-9344.0,4.570,-1.330,8.5000,-0.04830
Semaglutide,0.08333,-192.70,-180633.00,-8246.00,-0.01000,12120.0,4.23000,18.330,838.70,NaN,-10.170,4.167,NaN,NaN
Tauroursodeoxycholic Acid (TUDCA),-19800.00000,9250.00,16355.00,873.70,0.50600,86.7,-0.32800,-10.500,-78.50,-24058.0,-16.700,3.880,0.8333,0.07667
VALPROIC ACID,-0.48800,-16.30,-604.00,-47.80,-0.04670,-4970.0,-0.03830,20.300,-133.00,79351.0,-7.250,10.400,8.5000,-0.04830

In [12]:
print(data.shape[0], 'treatments')
print(data.shape[1], 'assays')
print(data.shape[0], '*', data.shape[1], '=', data.shape[0] * data.shape[1], 'treatment-assay combinations')
print(data.isna().sum().sum(), '(', np.round(100 * data.isna().sum().sum() / 616), '% )', 'unmeasured combinations')

44 treatments
14 assays
44 * 14 = 616 treatment-assay combinations
72 ( 12.0 % ) unmeasured combinations

## Older

def read_results(fpath='../../results/experimental/cell-based-assays.xlsx', sheet='Sheet2'):
    results = pd.read_excel(fpath, sheet, header=[0, 1, 2])
    results = results.set_index(('class', 'assay', 'concentration'))
    results = results.drop(results.columns[0], axis=1)
    results = results.transpose()
    results = results.rename_axis(['class', 'assay', 'concentration'], axis='index')
    results['conc'] = results.index.get_level_values('concentration')
    results = results.rename(index={'c4': 'c1', 'c5': 'c2', 'c6': 'c3'}, level=2)
    return(results)

fpath = '../../resources/cell-based-assays/CO25360_Overview results_all-clean1.xlsx'
read_results(fpath, sheet='Sheet1')

## Raw data

In [13]:
def wide2long_form(batch, plate, assay):
    df = pd.read_clipboard()
    activity = df.stack().to_frame('Activity')
    batch = pd.DataFrame({'Batch': batch}, index=activity.index)
    plate = pd.DataFrame({'Plate': plate}, index=activity.index)
    assay = pd.DataFrame({'Assay': assay}, index=activity.index)
    middle = df.stack().index.to_frame().rename({0: 'Replica', 1: 'TI_conc'}, axis=1)
    TI = middle.TI_conc.apply(lambda s: re.sub('^(TI[0-9]{1,2}).*$', '\\1', s)).to_frame('TI')
    conc = middle.TI_conc.apply(lambda s: re.match('.*c[0-9]{1,2}$', s))
    conc = conc.apply(lambda x: re.sub('^(TI[0-1]{1,2}\\s+)(c[0-9]{1,2})$', '\\2', x.string) if x is not None else '').to_frame('conc')
    l = [batch, plate, TI, conc, assay, activity]
    long = pd.concat(l, axis=1)
    long.to_clipboard(index=False, header=False)
    return(long)

In [14]:
fpath = '../../resources/cell-based-assays/CO28151_data-summary-clean.xlsx'
data = dict()
key = 'Abeta Clearance'
data[key] = pd.read_excel(fpath, sheet_name=key)
data[key]

,Cohort,Group,IRN,TI,conc,Aβ42 SN,Aβ42 Lys,BCA,Aβ42 Lys pg per ug prot
0,plate1,A1,TI2 c1_1,TI2,C1,35,693.0,271.0,2.55
1,plate1,A1,TI2 c1_2,TI2,C1,102,948.0,454.0,2.09
2,plate1,A1,TI2 c1_3,TI2,C1,51,1885.0,474.0,3.98
3,plate1,A1,TI2 c1_4,TI2,C1,37,674.0,298.0,2.26
4,plate1,A1,TI2 c1_5,TI2,C1,55,430.0,336.0,1.28
...,...,...,...,...,...,...,...,...,...
300,Plate 1,VC1,VC_1_6,VC_1,NaN,60759,3023.0,371.0,8.15
301,Plate 2,VC2,VC_2_1,VC_2,NaN,64832,1492.0,409.0,3.65
302,Plate 2,VC2,VC_2_2,VC_2,NaN,53839,456.0,451.0,1.01
303,Plate 2,VC2,VC_2_3,VC_2,NaN,58911,195.0,410.0,0.48
304,Plate 2,VC2,VC_2_4,VC_2,NaN,50964,574.0,473.0,1.21

In [15]:
key = 'Abeta secretion'
data[key] = pd.read_excel(fpath, sheet_name=key)
data[key]

,plate,Group,IRN,TI,conc,Aβ38,Aβ40,Aβ42,ratio 42:40x100
0,1,A1,TI2 c1_1,TI2,1.0,4010.000,834290.00,67940.0000,8.100000
1,1,A1,TI2 c1_2,TI2,1.0,6280.000,784080.00,70540.0000,9.000000
2,1,A1,TI2 c1_3,TI2,1.0,27790.000,932160.00,81130.0000,8.700000
3,1,A1,TI2 c1_4,TI2,1.0,32560.000,878050.00,69370.0000,7.900000
4,1,A1,TI2 c1_5,TI2,1.0,20670.000,624520.00,48540.0000,7.800000
...,...,...,...,...,...,...,...,...,...
277,5,NaN,TI15 c3_2,TI15,3.0,2538.531,14177.22,979.6982,6.910369
278,5,NaN,TI15 c3_3,TI15,3.0,2677.243,14218.80,1072.2790,7.541276
279,5,NaN,TI15 c3_4,TI15,3.0,2782.730,13733.23,1086.8330,7.913892
280,5,NaN,TI15 c3_5,TI15,3.0,2530.309,13473.46,1070.6570,7.946415
281,5,NaN,TI15 c3_6,TI15,3.0,2774.273,12229.71,1135.2580,9.282788

In [16]:
key = 'LPS inflammation'
data[key] = pd.read_excel(fpath, sheet_name=key)
data[key]

      Cohort Group       IRN    TI conc IL-10  IL-1β  IL-6 KC/GRO TNF-α
0     plate1    A1  TI2 c1_1  TI2    C1  1.46   1.25  1959    2.3   166
1     plate1    A1  TI2 c1_2  TI2    C1  3.23   2.08  3867   4.88   338
2     plate1    A1  TI2 c1_3  TI2    C1  2.81   2.29  4313   6.14   322
3     plate1    A1  TI2 c1_4  TI2    C1  2.57   1.75  4092   6.81   285
4     plate1    A1  TI2 c1_5  TI2    C1  3.15   2.26  2259   3.78   230
..       ...   ...       ...   ...  ...   ...    ...   ...    ...   ...
434  Plate 4   VC4    VC 4_2  VC 4    4   2.2  0.015  n.m.   n.m.    15
435  Plate 4   VC4    VC 4_3  VC 4    4  2.34   n.m.  n.m.   n.m.    18
436  Plate 4   VC4    VC 4_4  VC 4    4  1.94   n.m.  n.m.   n.m.    13
437  Plate 4   VC4    VC 4_5  VC 4    4  2.05   n.m.  n.m.   n.m.    19
438  Plate 4   VC4    VC 4_6  VC 4    4  2.37   n.m.  n.m.   n.m.    21

[439 rows x 10 columns]

In [17]:
key = 'Tau phosphorylation'
data[key] = pd.read_excel(fpath, sheet_name=key)
data[key]

,Batch,Plate,IRN,TI,Conc,Tau [pg/ml],pTau (T231) [AU],BCA total protein,Tau [pg/µg],pTau (T231) [AU2],Ratio pTau /Tau,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,batch 1,Plate 5,TI1 c1_1,TI1,1,508,62.4,240.3,2.1,29.5,14,NaN,NaN,NaN,NaN
1,batch 1,Plate 5,TI1 c1_2,TI1,1,322.8,47.6,185.6,1.7,27.4,15.7,NaN,NaN,NaN,NaN
2,batch 1,Plate 5,TI1 c1_3,TI1,1,338,45.9,158.3,2.1,21.5,10.1,NaN,NaN,NaN,NaN
3,batch 1,Plate 5,TI1 c1_4,TI1,1,339.6,49,161.8,2.1,23.4,11.1,NaN,NaN,NaN,NaN
4,batch 1,Plate 5,TI1 c1_5,TI1,1,334.2,47,320.3,1,45,43.1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,batch 1,Plate 5,VC_5_2,VC,5,735.3,101.9,218.3,3.4,30.2,9,NaN,NaN,NaN,NaN
362,batch 1,Plate 5,VC_5_3,VC,5,912.1,125,244.3,3.7,33.5,9,NaN,NaN,NaN,NaN
363,batch 1,Plate 5,VC_5_4,VC,5,747,110.2,222.6,3.4,32.8,9.8,NaN,NaN,NaN,NaN
364,batch 1,Plate 5,VC_5_5,VC,5,2078.7,222.9,196.1,10.6,21,2,NaN,NaN,NaN,NaN
365,batch 1,Plate 5,VC_5_6,VC,5,384.1,77.3,193,2,38.8,19.5,NaN,NaN,NaN,NaN

In [18]:
groups = {k: v.TI.unique() for k, v in data.items()}
groups

{'Abeta Clearance': array(['TI2 ', 'TI3 ', 'TI4 ', 'TI5 ', 'TI6 ', 'TI7 ', 'TI1 ', 'TI11',
        'TI12', 'TI13', 'TI14', 'Abet', 'VC_1', 'VC_2', 'VC_3', 'TI8',
        'TI9', 'TI10', 'TI15'], dtype=object),
 'Abeta secretion': array(['TI2', 'TI3', 'TI4', 'VC', 'TI5', 'TI6', 'TI7', 'TI11', 'TI12',
        'TI13', 'TI14', 'TI1', 'RI', 'TI10', 'TI15'], dtype=object),
 'LPS inflammation': array(['TI2 ', 'TI3 ', 'TI4 ', 'TI5 ', 'TI6 ', 'TI7 ', 'TI1 ', 'TI11',
        'TI12', 'TI13', 'LPS ', 'TI14', 'LPS+', 'VC_1', 'VC_2', 'VC_3',
        'VC_4', 'VC_5', 'Treatment', 'TI 8', 'TI8 ', 'TI 9', 'TI9 ',
        'TI10', 'TI15', 'LPS 1', 'LPS 2', 'LPS 3', 'LPS 4', 'RI 1', 'RI 2',
        'RI 3', 'RI 4', 'VC 1', 'VC 2', 'VC 3', 'VC 4'], dtype=object),
 'Tau phosphorylation': array(['TI1 ', 'TI2', 'TI3', 'TI4', 'TI5', 'TI6', 'TI7', 'TI8', 'TI9',
        'TI10', 'TI11', 'TI12', 'TI13', 'TI14', 'TI15', 'VC', 'RI'],
       dtype=object)}

In [19]:
treatments = dict()
key = 'Abeta Clearance'
treatments[key] = [x for x in groups[key] if re.match('^TI.*', x)]
print(treatments[key], len(treatments[key]))

['TI2 ', 'TI3 ', 'TI4 ', 'TI5 ', 'TI6 ', 'TI7 ', 'TI1 ', 'TI11', 'TI12', 'TI13', 'TI14', 'TI8', 'TI9', 'TI10', 'TI15'] 15

In [20]:
key = 'Abeta secretion'
treatments[key] = [x for x in groups[key] if isinstance(x, int)]
print(treatments[key], len(treatments[key]))

[] 0

In [21]:
treatments = dict()
key = 'LPS inflammation'
treatments[key] = [x for x in groups[key] if re.match('^TI[0-9]+', x)]
print(treatments[key], len(treatments[key]))

['TI2 ', 'TI3 ', 'TI4 ', 'TI5 ', 'TI6 ', 'TI7 ', 'TI1 ', 'TI11', 'TI12', 'TI13', 'TI14', 'TI8 ', 'TI9 ', 'TI10', 'TI15'] 15

In [22]:
treatments = dict()
key = 'Tau phosphorylation'
treatments[key] = [x for x in groups[key] if x not in ['VC', 'RI']]
print(treatments[key], len(treatments[key]))

['TI1 ', 'TI2', 'TI3', 'TI4', 'TI5', 'TI6', 'TI7', 'TI8', 'TI9', 'TI10', 'TI11', 'TI12', 'TI13', 'TI14', 'TI15'] 15

In [23]:
%connect_info

{
  "shell_port": 53569,
  "iopub_port": 53570,
  "stdin_port": 53571,
  "control_port": 53573,
  "hb_port": 53572,
  "ip": "127.0.0.1",
  "key": "78c6d363-8ebdeb95a14c3ea0fadca073",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": "python3"
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-d8d40d23-56e5-451f-9dc8-50d2a720446d.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.