In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import arviz as az
import pymc as pm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cellbayesassay as cba
import re
import attila_utils

In [2]:
fpath = '/Users/jonesa7/CTNS/resources/cell-based-assays/test-items.csv'
TI2conc = cba.get_TI_conc(fpath)
TI2conc

Study    TI       conc
CO28151  TI1      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI2      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI3      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI4      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI5      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI6      c1      1.000000e-05
                  c2      1.000000e-06
                  c3      2.000000e-07
         TI7      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI8      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI9      c1      1.000000e-04
                  c2      1.000000e-05
                  c3      1.000000e-06
         TI10     c1      5.000000e-05
                  c2      5.000000e-06
                  c3      5.000000e-07
         TI11     c1      1.000000e-05
                  c2      1.000000e-06
                  c3      2.000000e-07
         TI12     c1      1.000000e-05
                  c2      1.000000e-06
                  c3      2.000000e-07
         TI13     c1      1.000000e-05
                  c2      1.000000e-06
                  c3      2.000000e-07
         TI14     c1      1.000000e-05
                  c2      1.000000e-06
                  c3      2.000000e-07
         TI15     c1      2.500000e-05
                  c2      2.500000e-06
                  c3      2.500000e-07
CO28153  TI16/17  c1      2.500000e-05
                  c2      2.500000e-06
                  c3      2.500000e-07
                  c4      1.000000e-07
                  c5      5.000000e-08
                  c6      1.000000e-08
         TI18/19  c1      2.500000e-05
                  c2      2.500000e-06
                  c3      2.500000e-07
                  c4      1.000000e-07
                  c5      5.000000e-08
                  c6      1.000000e-08
dtype: float64

In [3]:
fpath = '/Users/jonesa7/CTNS/resources/cell-based-assays/test-items.csv'
TI2name = cba.get_TI_name(fpath)
TI2name

                                                     Name
Study   TI
CO28151 TI1                                     Amiloride
        TI2                Phenamil methanesulfonate salt
        TI3                Benzamil hydrochloride hydrate
        TI4       5-(N,N-Dimethyl)amiloride hydrochloride
        TI5              5-(N-Ethyl-N-isopropyl)amiloride
        TI6                5-(N,N-Hexamethylene)amiloride
        TI7              5-(N-Methyl-N-isobutyl)amiloride
        TI8                                        NS 383
        TI9                                      A-317567
        TI10                                   Cilostazol
        TI11                                DIM-C-pPhOCH3
        TI12                                      C-DIM12
        TI13                                  Liraglutide
        TI14                                  Semaglutide
        TI15                   Hydroxychloroquine racemic
CO28153 TI16/17  (S)Hydroxychloroquine racemic, free base
        TI18/19  (R)Hydroxychloroquine racemic, free base

fpath = '../../resources/cell-based-assays/raw-data-cleaned-by-tina-CO28151-draft1.xlsx'
data = pd.read_excel(fpath, sheet_name='Data')
data_name = data.apply(lambda r: TI2name.loc[*r.loc[['Study', 'TI']]] if re.match('^TI.*', r.loc['TI']) else '', axis=1)
data_conc = data.apply(lambda r: TI2conc.loc[*r.loc[['Study', 'TI', 'conc']]] if re.match('^TI.*', r.loc['TI']) else np.nan, axis=1).to_frame('concentration')
data_conc['conc_log10'] = data_conc.concentration.apply(np.log10)
data = pd.concat([data.loc[:, :'TI'], data_name, data[['conc']], data_conc, data.loc[:, 'Activity':]], axis=1)
data

In [4]:
data = cba.get_data('../../resources/cell-based-assays/raw-data-cleaned-by-tina-CO28151-draft1.xlsx', 'Data')
data

,Study,Experiment,Assay,Batch,Plate,TI,Name,conc,concentration,conc_log10,Activity
0,CO28151,Aβ release (H4 cells),Aβ38,1,1,TI2,Phenamil methanesulfonate salt,c1,1.000000e-04,-4.0,4010.000000
1,CO28151,Aβ release (H4 cells),Aβ38,1,1,TI2,Phenamil methanesulfonate salt,c1,1.000000e-04,-4.0,6280.000000
2,CO28151,Aβ release (H4 cells),Aβ38,1,1,TI2,Phenamil methanesulfonate salt,c1,1.000000e-04,-4.0,27790.000000
3,CO28151,Aβ release (H4 cells),Aβ38,1,1,TI2,Phenamil methanesulfonate salt,c1,1.000000e-04,-4.0,32560.000000
4,CO28151,Aβ release (H4 cells),Aβ38,1,1,TI2,Phenamil methanesulfonate salt,c1,1.000000e-04,-4.0,20670.000000
...,...,...,...,...,...,...,...,...,...,...,...
1633,CO28151,Aβ clearance (BV2 cells),Aβ42 Lys,2,2,VC,,NaN,1.000000e-09,NaN,1.010963
1634,CO28151,Aβ clearance (BV2 cells),Aβ42 Lys,2,2,VC,,NaN,1.000000e-09,NaN,0.475578
1635,CO28151,Aβ clearance (BV2 cells),Aβ42 Lys,2,2,VC,,NaN,1.000000e-09,NaN,1.213073
1636,CO28151,Aβ clearance (BV2 cells),Aβ42 Lys,2,2,VC,,NaN,1.000000e-09,NaN,NaN
1637,CO28151,Aβ clearance (BV2 cells),Aβ42 Lys,2,2,VC,,NaN,1.000000e-09,NaN,NaN

In [5]:
%connect_info

{
  "shell_port": 57883,
  "iopub_port": 57884,
  "stdin_port": 57885,
  "control_port": 57887,
  "hb_port": 57886,
  "ip": "127.0.0.1",
  "key": "fa3640e1-41980ca4269a6350a0f0856a",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": "python3",
  "jupyter_session": "/Users/jonesa7/CTNS/notebooks/2024-02-14-cell-bayes/2024-02-14-cell-bayes.ipynb"
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-f0d4e49c-9176-4c7b-b731-c66c114b4d7d.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.